.header-content {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    height: 50px;
}

.header-content .header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 22px; 
    font-size: 26px;
}

.header-content .header-left img {
    width: 90px;
}

.header-content .header-center {
    display: flex;
    gap: 50px;
    padding: 3px;
}

.header-content .header-center .header-center-content {
    display: flex;
    position: relative;
    width: 700px;
    padding: 0 100px;
}

.header-content .header-center .header-center-content .search {
    display: flex;
    position: relative;
    width: 650px;
    padding: 0 20px;
}

.header-content .header-center .header-center-content .search input {
    padding: 10px 15px;
    height: 20px;
    width: 600px;
    border-radius: 60px;
    border: 1.75px solid #383838;
    font-size: 16px;
    background: #121212;
    color: #e2e2e2;
    outline: none;
}

.header-content .header-center .header-center-content .search .keyboard {
    position: absolute;
    right: 108px;
    top: 10px;
    font-size: 22px;
}

.header-content .header-center .header-center-content .voice {
    position: absolute;
    right: 87px;
    font-size: 18px;
    padding: 13px;
    border-radius: 80px;
    background: #303030;
    cursor: pointer;
}

.header-content .header-center .header-center-content .voice:hover {
    background: #585858;
}

.header-content .header-center .header-center-content .search .rest-input {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 32px;
    top: 1.925px;
    width: 65px;
    height: 41px;
    border-radius: 0 50px 50px 0;
    background-color: #333333;
    border-left: 1.75px solid #383838;
    cursor: pointer;
}

.header-content .header-center .header-center-content .search .rest-input .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    color: #e2e2e2;
}